* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home {
  background-color: #f2f2f2;
  height: 100vh;
}

.home-slider {
  padding: 3rem;
  display: flex;
  z-index: -100;
}

.home-slider-left {
  display: flex;
}

.home-slider-social-bar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-right: 1rem;
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 100;
}

.home-main {
  position: relative;
}

.home-slider-social-icon {
  border: 1px solid #09005a;
  border-radius: 100%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f2f2f2;
}

.home-slider-left-details {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  gap: 2rem;
}

.home-slider-left-details h1 {
  font-size: 2.6rem;
  color: #3e42c1;
}

.home-slider-left-details p {
  font-size: 1.4rem;
  color: #3e42c1;
}

.home-slider-image {
  width: 400px;
}

.home-buttons {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 80px;
  top: 220px;
}

.home-button {
  
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  color: #000080;
  font-size: 1.4rem;
  font-weight: 600;
}

.home-getstarted-button {
  background-color: #9bd6e7;
}

.home-knowmore-button {
  border: 2px solid #9bd6e7;
}

.home-hr {
  width: 100%;
  height: 8px;
  background-color: #09005a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hr-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  border-color: #040146;
  padding: 0.6rem;
}
