* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  font-size: 1.1rem;
  align-items: stretch;
}

.nav-logo {
  width: 90%;
}

.nav-left {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.nav-hr {
  width: 1px;
  height: 90%;
  background-color: black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  height: 100%;
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-button {
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.nav-log-in-button {
  background-color: white;
  color: #040146;
  border: 2px solid #040146;
}

.nav-log-in-button:hover {
  background-color: #040146;
  color: white;
}

.nav-sign-in-button {
  background-color: #040146;
  color: white;
}

.nav-sign-in-button:hover {
  background-color: white;
  color: #040146;
  border: 2px solid #040146;
}
